* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.showcase {
  background-image: url(https://i.imgur.com/66wyvQa.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcase-p1 {
  font-size: 4em;
  color: white;
}
.showcase-p2 {
  font-size: 2.5em;
  color: white;
}
.showcase-button {
  background-color: white;
  margin-top: 5%;
  color: #36b34d;
  font-size: 150%;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  border: none;
}
.showcase-button:hover {
  cursor: pointer;
}
.sponsors {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors p {
  font-size: 4em;
  font-family: "Poppins";
  color: #36b34d;
}
.sponsors img {
  display: inline-block;
  width: 24vw;
}
.gifters {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gifters p {
  font-size: 4em;
  font-family: "Poppins";
  color: #36b34d;
}
.row1 {
  display: flex;
  height: 15vh;
  align-items: center;
}
.row2 {
  display: flex;
  height: 15vh;
  align-items: center;
  column-gap: 10px;
}
.row1 img,
.row2 img {
  width: 14em;
}
.aboutus-heading {
  font-size: 4em;
  font-family: "Poppins";
  color: #36b34d;
}
.aboutus-para {
  font-size: 2em;
  margin: 20px 0 0 0;
  font-family: "poppins";
}
.flex-container {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
}
.flex-container img {
  width: 30vw;
}

/* Mobile Devices*/
@media only screen and (max-width: 550px) {
  .showcase {
    height: 20vh;
    font-size: 40%;
  }
  .showcase-button {
    height: 15%;
    width: 15%;
  }
  .sponsors p {
    font-size: 2em;
  }
  .gifters p {
    font-size: 2em;
  }
  .row1,
  .row2 {
    height: 10vh;
  }
  .row1 img,
  .row2 img {
    width: 7em;
  }
  .flex-container img {
    display: none;
  }
  .aboutus-heading {
    font-size: 2em;
  }
  .aboutus-para {
    font-size: 1em;
  }
}
/* Low resolution Tablets and iPads */
@media only screen and (min-width: 551px) and (max-width: 960px) {
  .showcase {
    height: 35vh;
    font-size: 60%;
  }
  .showcase-button {
    height: 15%;
    width: 15%;
  }
  .sponsors img {
    width: 24vw;
  }
  .sponsors p {
    font-size: 3em;
  }
  .gifters p {
    font-size: 3em;
  }
  .row1,
  .row2 {
    height: 10vh;
  }
  .row1 img,
  .row2 img {
    width: 10em;
  }
  .aboutus-heading {
    font-size: 3em;
  }
  .aboutus-para {
    font-size: 1em;
  }
  .flex-container img {
    width: 25vw;
  }
}
