* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 15vh;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: auto;
}
nav img {
  height: 80%;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Links {
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
  list-style: none;
  align-items: center;
  width: 50%;
  column-gap: 10%;
  display: flex;
  justify-content: end;
}
.Link1 {
  color: #36b34d;
  padding: 0.5em;
  font-size: 1.1em;
  text-decoration: none;
  background-color: white;
  border: none;
}
.Link1:hover {
  cursor: pointer;
}
.Link2 {
  color: white;
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
  background-color: #36b34d;
  padding: 0.5em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Link2:hover {
  cursor: pointer;
}

/* Mobile Devices */
@media only screen and (max-width: 665px) {
  nav {
    height: auto;
    width: 100%;
  }
  .flexbox {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    row-gap: 20px;
  }
  .flexbox img {
    width: 25%;
  }
  .Links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    justify-content: center;
  }
  .Link1,
  .Link2 {
    border-radius: 0;
    padding: 0;
    font-size: 0.8em;
    width: 100%;
    border: solid 2px #36b34d;
    box-shadow: none;
    height: 4vh;
  }
}

/* Low resolution Tablets and iPads */
@media only screen and (min-width: 666px) and (max-width: 767px) {
  nav {
    height: 20vh;
  }
}

@media only screen and (min-width: 767px) and (max-width: 980px) {
  nav {
    height: 20vh;
  }
}
