<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      style="border-radius: 500px"
      href="https://i.imgur.com/z05IiiC.png"
    />

    <title>Quzzing Club DPSRKP</title>
  </head>

  <body>
    {% include 'nav.html' %}

    <section class="showcase">
      <p class="showcase-p1">Infinitus Reus</p>
      <p class="showcase-p2">Saturday 6 July, 2024</p>
      <button
        class="showcase-button"
        onclick="window.location.href=window.location.origin+'/ir24'"
      >
        Learn More
      </button>
    </section>
    <section class="sponsors">
      <p>Our Sponsors</p>
      <a href="https://www.athenaeducation.co.in/"
        ><img
          style="border-radius: 20px"
          src="https://i.imgur.com/sigbf8g.jpeg"
          alt=""
      /></a>
    </section>
    <section class="gifters">
      <p>Our Gifitng Partners</p>
      <br />
      <br />
      <div class="row1">
        <a href="https://www.interviewcake.com/" target="_blank"
          ><img src="https://i.imgur.com/xAs5HAo.png" alt=""
        /></a>
        <a href="https://rosenfeldmedia.com/" target="_blank"
          ><img src="https://i.imgur.com/YLkfF9q.png" alt=""
        /></a>
        <a href="https://www.taskade.com/" target="_blank"
          ><img src="https://i.imgur.com/649NYfc.jpeg" alt=""
        /></a>
      </div>
      <div class="row2">
        <a href="https://artofproblemsolving.com/" target="_blank"
          ><img src="https://i.imgur.com/1C6k4T8.png" alt=""
        /></a>
        <a href="https://mrmakhana.com/ " target="_blank"
          ><img src="https://i.imgur.com/VYlatO7.png" alt=""
        /></a>
        <a href="https://balsamiq.com/" target="_blank"
          ><img src="https://i.imgur.com/hpHNjQU.png" alt=""
        /></a>
      </div>
      <div class="row3">
        <a href="#"
          ><img
            style="height: 30vh"
            class="taxcity"
            src="https://i.imgur.com/N29jHPU.jpeg"
            alt=""
        /></a>
      </div>
    </section>
    <section class="about"></section>
    <div style="margin: auto; width: 90%">
      <p class="aboutus-heading">About Us</p>
    </div>

    <div class="flex-container">
      <p class="aboutus-para">
        Nestled in the heart of DPS RK Puram, we are a group of quizzing
        enthusiasts who take pride in having some of the best quizzers who
        embody knowledge and zeal. Established in 1983, the Quizzing Club of DPS
        RK Puram, is a trailblazing quizzing society in India. Even after four
        decades, we remain as vibrant and adept as ever - delving into diverse
        topics that capture one's interest - from sports to pop culture and
        finance to history and science and beyond. To us, the motto "Ipsa
        Scientia Potestas est" rings true – "knowledge itself is power".
      </p>
      <img src="https://i.imgur.com/AqttsW3.jpeg" alt="" />
    </div>
  </body>
</html>
