<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/ir24.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="somediv">
      <p>Glimpses From the Quiz</p>
      <div class="gallery1">
        <img src="https://i.imgur.com/ntaeJSk.jpeg" alt="" />
        <img src="https://i.imgur.com/XxRTku5.jpeg" alt="" />
        <img src="https://i.imgur.com/LXMlfO1.jpeg" alt="" />
        <img src="https://i.imgur.com/OrzL73L.jpeg" alt="" />
        <img src="https://i.imgur.com/fqsj6BP.jpeg" alt="" />
        <img src="https://i.imgur.com/Dj4QR4A.jpeg" alt="" />
        <img src="https://i.imgur.com/NtJQ0MG.jpeg" alt="" />
        <img src="https://i.imgur.com/dbjTdGp.jpeg" alt="" />
        <img src="https://i.imgur.com/K8BT1fk.jpeg" alt="" />
        <img src="https://i.imgur.com/Jgn1az8.jpeg" alt="" />
        <img src="https://i.imgur.com/m44YUNM.jpeg" alt="" />
        <img src="https://i.imgur.com/HbNkPxu.jpeg" alt="" />
        <img src="https://i.imgur.com/qIQTiDv.jpeg" alt="" />
        <img src="https://i.imgur.com/YAKDQBl.jpeg" alt="" />
        <img src="https://i.imgur.com/LLT9v9P.jpeg" alt="" />
        <img src="https://i.imgur.com/KdiBB0e.jpeg" alt="" />
      </div>
      <p>The Winners</p>
      <div class="gallery2">
        <img src="https://i.imgur.com/mlak0od.jpeg" alt="" />
        <img src="https://i.imgur.com/1K5rPnV.jpeg" alt="" />
        <img src="https://i.imgur.com/7iqLuoV.jpeg" alt="" />
        <img src="https://i.imgur.com/gTpjzB4.jpeg" alt="" />
        <img src="https://i.imgur.com/J4q9qgP.jpeg" alt="" />
        <img src="https://i.imgur.com/5G5ZA02.jpeg" alt="" />
        <img src="https://i.imgur.com/gC2p6lM.jpeg" alt="" />
        <img src="https://i.imgur.com/PbAjgeM.jpeg" alt="" />
      </div>
    </div>
  </body>
</html>
