<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/members.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Members</title>
  </head>
  <body>
    <p class="CLASS">Class 12</p>
    <div class="Grid">
      <div class="name">
        Manas Sood <br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Aarush Semwal<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Saksham Singhal<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Shresth Singh<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Ruhee Tandon<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Atharvajeet Singh<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Shaurya Datta<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Deevit Singh<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Sitamsh Narsimhan<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Ajitansh Kar<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Arush Sharma<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Shreyansh Gupta<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Ashmit Kaushik<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Shrish Pujahari<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Dev Bajaj<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Aryamaan Goswamy<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Shreyash Agarwal<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Adhyayan Sharma<br />
        <span class="Des">Member</span>
      </div>
      <div class="name">
        Rohak Tiwari<br />
        <span class="Des">Member</span>
      </div>
    </div>
  </body>
</html>
